main{
    width: 100%; 
}
.nav-container{
    background:#131313;
}
nav{
    width:80%;
    margin: auto; 
    min-height: 10vh ;
    padding: 3rem 0; 
    display:flex;
    justify-content: space-between;
    align-items: center;

    ul{
        display: flex;
        justify-content: space-between;
        flex:1; 
    }

    #logo{
        flex:3; 
        position: relative;

        &::after{
            content: "";
            position: absolute;
            top:0;
            left: 0;
            width:6rem;
            height:6rem;
            background: #f54538;
            border-radius: 50%;
            transform: translate(-10%, -20%);
            mix-blend-mode: screen;


        }
    }

    .order{
        background: #f54538;
        padding: .5em 1em; 
        border-radius: 5px;
    }
}


.home{
    background: radial-gradient(#525252,#131313);
}

.showcase{
    display:grid;
    height: 90vh;
    width: 100%; 
    grid-template-columns: 10% repeat(3, 1fr) 10% ;
    grid-template-rows: 1fr 2fr 1fr;
}

h2{
    grid-column: 2/3;
}

img{
    grid-row: 2/3; 
    grid-column: 3/4; 
}
.info{
    grid-column: 4/5 ;
    grid-row:3/4 ;
}
