//variables: 
$green: #2ecc71;
$alpha: .30;
body{
    height: 30vh;
    width: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; 

}
main{
    height: 80px;
    width: 100px; 
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eeeeee; 
    
}


label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input { 
        opacity: 0;
        width: 0;
        height: 0;
    
        &:checked + .slider {
          background-color: $green;
        }

        &:checked + .slider:before {
            transform: translateX(26px);
          }
    }
}


.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;

    &::before {
        position: absolute;
        content: "";
        height: 32px;
        width: 32px;
        border-radius: 50%;
        left: 1px;
        bottom: 1px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;

        //Metal effect:
         box-shadow: 0 2px 2px -1px #3a3d4b, 0 -2px 2px -1px #f5f4fd;
	      background: 
	 	 (	conic-gradient(rgba(#d5d8e1, $alpha), rgba(#666c80, $alpha) 36deg, rgba(#e6e7eb, $alpha) 75deg, rgba(grey, $alpha) 105deg, rgba(#c5c7d3, $alpha) 135deg, rgba(#898c9b, $alpha) 170deg, rgba(#d7dee8, $alpha), rgba(#787d90, $alpha) 230deg, rgba(#c6c9d2, $alpha) 280deg, rgba(#9296a3, $alpha) 310deg, rgba(#d5d8e1, $alpha)),
	 	 	repeating-radial-gradient(transparent, rgba(#6d7285, 0) 2px, rgba(#6d7285, .65) 3px, rgba(#6d7285, .65) 4px, rgba(#6d7285, 0) 5px) #cecfd6);
       
    }
}

